html {
  box-sizing: border-box
}

/* The Universal Selector */
*, /* All elements*/
*::before, /* All ::before pseudo-elements */
*::after { /* All ::after pseudo-elements */
  /* height & width will now include border & padding by default
     but can be over-ridden as needed */
  box-sizing: inherit;
}
body{
  text-align: center;
  display: grid;
  min-height: 100vh;
  grid-template-columns: 13% 74% 13%;
  grid-template-rows: 15% 85%;
  grid-template-areas:
  "blanck nav blank"
  "menubar board status";
}
board{
  grid-area: board;
}
nav{
  grid-area: nav;
  text-align: center;
  font-size:2.2rem;
}
menu{
  padding: 0;
  grid-area: menubar;
  align-items: center;
}
.menu-bar-buttons{
  margin: .5rem 1.3rem .5rem 1.3rem;
  width: 4rem;
  height: 2.5rem;
  align-items: center;
}
section {
  width: 47.5rem;
  height: 35rem;
  grid-area: board ;
  display: grid;
  grid-template-columns:2% 6.9% 6.9% 6.9% 6.9% 6.9% 6.9% 11.5% 6.9% 6.9% 6.9% 6.9% 6.9% 6.9% 3.7%; 
  grid-template-rows: 45% 10% 45%;
  grid-template-areas: 
  "a c12     c11     c10     c9      c8      c7      b  c6   c5   c4   c3   c2   c1   c"
  "a m-d-btn m-d-btn m-d-btn m-d-btn m-d-btn m-d-btn b  dice dice dice dice dice dice c"
  "a c13     c14     c15     c16     c17     c18     b  c19  c20  c21  22   c23  c24  c";
}
#board {
  width: 47.5rem;
  height: 35rem;
}
c1{
  grid-area: c1;
  padding-left: .7rem;
  display: flex;
  flex-direction: column;
}
c2{
  grid-area: c2;
  padding-left: .6rem;
  display: flex;
  flex-direction: column;
}
c3{
  grid-area: c3;
  display: flex;
  flex-direction: column;
}
c4{
  grid-area: c4;
  display: flex;
  flex-direction: column;
}
c5{
  grid-area: c5;
  display: flex;
  flex-direction: column;
}
c6{
  grid-area: c6;
  padding-left: .1rem;
  display: flex;
  flex-direction: column;
}
c7{
  grid-area: c7;
  padding-left: .8rem;
  display: flex;
  flex-direction: column;
}
c8{
  grid-area: c8;
  padding-left: .6rem;
  display: flex;
  flex-direction: column;
}
c9{
  grid-area: c9;
  display: flex;
  flex-direction: column;
}
c10{
  grid-area: c10;
  display: flex;
  flex-direction: column;
}
c11{
  grid-area: c11;
  display: flex;
  flex-direction: column;
}
c12{
  grid-area: c12;
  padding-right: .5rem;
  display: flex;
  flex-direction: column;
}
c13{
  grid-area: c13;
  padding-left: .1rem;
  display: flex;
  flex-direction: column-reverse;
}
c14{
  grid-area: c14;
}
c15{
  grid-area: c15;
}
c16{
  grid-area: c16;
}
c17{
  grid-area: c17;
  padding-left: .4rem;
  display: flex;
  flex-direction: column-reverse;
}
c18{
  grid-area: c18;
}

c19{
  grid-area: c19;
  padding-left: .4rem;
  display: flex;
  flex-direction: column-reverse;
}
c20{
  grid-area: c20;
}
c21{
  grid-area: c21;
}
c22{
  grid-area: c22;
}
c23{
  grid-area: c23;
}
c24{
  grid-area: c24;
  padding-left: .7rem;
  display: flex;
  flex-direction: column-reverse;
}
.chips{
  width: 2.75rem;
  height: 2.75rem;
  border-radius: 50rem;
  padding: 0px;
  margin: 0px;

}
roll-move-btn{
  grid-area: m-d-btn ;
  display: flex;
  align-items: center;
  justify-content: center;
}
#roll-btn{
  width: 5rem;
  height: 2rem;
}
dice{
  grid-area: dice;
  display: flex;
  align-items: center;
  justify-content: center;
}
.dice-style{
width: 2.7rem;
height: 2.7rem;
border-radius: .7rem;
margin: .3rem;
}
status {
  grid-area: status;
}
.high-light{
  background-color: rgb(29, 54, 238);
  opacity: 20%;
 
}
#next{
  width: 5rem;
  height: 2rem;
}
